- add_to_breadcrumbs @hook.pluralized_name, group_hooks_path(@group)
- page_title _('Edit Group Hook')

.row.prepend-top-default
  .col-lg-3
    = render 'shared/web_hooks/title_and_docs', hook: @hook

  .col-lg-9.append-bottom-default
    = form_for [@group, @hook], as: :hook, url: group_hook_path(@group, @hook) do |f|
      = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }

      %span>= f.submit _('Save changes'), class: 'btn btn-success gl-mr-3'
      = render 'shared/web_hooks/test_button', hook: @hook
      = link_to _('Delete'), group_hook_path(@group, @hook), method: :delete, class: 'btn btn-remove float-right', data: { confirm: _('Are you sure?') }
