<script>
export default {
  name: 'FilterBar',
  components: {},
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>
<template>
  <div></div>
</template>
