%section.geo-haml-form
  %h2.page-title
    = _('Geo Settings')
  %p.page-subtitle.light
    = _('Geo allows you to replicate your GitLab instance to other geographical locations.')

  = form_for @application_setting, url: admin_geo_settings_path, html: { class: 'fieldset-form' } do |f|
    = form_errors(@application_setting)
    %fieldset
      .form-group
        = f.label :geo_status_timeout, 'Connection timeout', class: 'label-bold'
        = f.number_field :geo_status_timeout, class: 'form-control'
        .form-text.text-muted
          = _('The amount of seconds after which a request to get a secondary node status will time out.')
      .form-group
        = f.label :geo_node_allowed_ips, 'Allowed Geo IP', class: 'label-bold'
        = f.text_field :geo_node_allowed_ips, class: 'form-control'
        .form-text.text-muted
          = _('List of IPs and CIDRs of allowed secondary nodes. Comma-separated, e.g. "1.1.1.1, 2.2.2.0/24"')

    = f.submit _('Save changes'), class: "btn btn-success"
